# compiled output
/dist
/node_modules

# IDE - VSCode
/.vscode

# yarn install output
/yarn-error.log

# orm config
/mikro-orm.config.ts

# runtime logs
/logs

# local env
/.local.env

# static folder
/public